body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #5f9341;
  box-sizing: border-box;
  margin-bottom: 10px;
}
button {
  background-color: #5f9341;
  color: white;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  font-weight: bold;
}
#delete-btn{
  background: white;
  color: #5f9341;
}
ul{
  list-style: none;
  padding-left: 0;
}
li{
  margin-top: 5px;
}
li a{
  color: #5f9341;
}